@{
    //TODO: L03 TASK 3 Bootstrap this form
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Provide Consultation</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <form action="/Parent/Submit" method="post">

            <!-- Form Group 1 -->
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-4">
                    <h2>Be A Parent Volunteer</h2>
                </div>
            </div>

            <!-- Form Group 2 -->
            <div class="form-group row">
                <label class="control-label col-sm-2">Title :</label> <!-- Label 1 -->
                <div class="col-sm-4">
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="Title" id="dr" value="Dr" />
                        <label class="form-check-label" for="dr">Dr</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="Title" id="mr" value="Mr" />
                        <label class="form-check-label" for="mr">Mr</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="Title" id="ms" value="Ms" />
                        <label class="form-check-label" for="md">Ms</label>
                    </div>
                </div>
            </div>

            <!-- Form Group 3 -->
            <div class="form-group row">
                <label class="control-label col-sm-2" for="Name">Name :</label> <!-- Label 2 -->
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="Name" id="Name" />
                </div>
            </div>

            <!-- Form Group 4 -->
            <div class="form-group row">
                <label class="control-label col-sm-2" for="Postal">Postal Code :</label> <!-- Label 3 -->
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="Postal" id="Postal" />
                </div>
            </div>

            <!-- Form Group 5 -->
            <div class="form-group row">
                <label class="control-label col-sm-2" for="Mobile">Mobile :</label> <!-- Label 4 -->
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="Mobile" id="Mobile" />
                </div>
            </div>

            <!-- Form Group 6 -->
            <div class="form-group row">
                <label class="control-label col-sm-2" for="Activity">Activity :</label> <!-- Label 5 -->
                <div class="col-sm-4">
                    <select class="form-control" name="Activity" id="Activity">
                        <option value="">-- SELECT --</option>
                        <option value="Story Telling">Story Telling</option>
                        <option value="Traffic Control">Traffic Control</option>
                        <option value="Music Appreciation">Music Appreciation</option>
                        <option value="Art and Craft">Art and Craft</option>
                    </select>
                </div>
            </div>
            <!-- Form Group 7 -->
            <div class="form-group row">
                <label class="control-label col-sm-2">Days :</label> <!-- Label 6 -->
                <div class="col-sm-4">
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" name="Mon" id="Mon" value="Mon" />
                        <label class="form-check-label" for="Mon">Monday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" name="Wed" id="Wed" value="Wed" />
                        <label class="form-check-label" for="Wed">Wednesday</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" name="Fri" id="Fri" value="Fri" />
                        <label class="form-check-label" for="Fri">Friday</label>
                    </div>
                </div>
            </div>

            <!-- Form Group 8 -->
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-4">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>

            @if (ViewData["Message"] != null)
            {
                <!-- Form Group 9 -->
                <div class="form-group row">
                    <div>
                        @ViewData["Message"]
                    </div>
                </div>
            }

        </form>
    </div>
</body>
</html>
// 19031264 Liu Xian Min