@model PurchaseOrder;

<form asp-controller="PO"
      asp-action="PurchaseOrder"
      method="post">

    <div class="form-group row">
        <div class="offset-sm-2 col-md-2 ">
            <h2>AiS</h2>
        </div>
        <div class="col-md-10">
            <b>AIS Manufacturing Pte Ltd</b>
            <br>Receiving Store : No.3 Pioneer Sector Walk, Singapore 627897
            <br>Account Office : No.2 Sims Close #02-03 Gemin@SIMS, SIngapore 387296
            <br>Tel : (65) 6280 0248
            <br>Company and GST REsistration No : 200510449C
        </div>

        <div class="form-group row">
            <hr>
            <div class="col-md-6">
                <ln>A subsidiary of TSH SYnergy Pte Ltd</ln>
                <ln class="col-md-4">
                    <b style="border: 1px solid black">PURCHASE ORDER</b>
                </ln>
                </div>
            </div>
        </div>
</form>