
<h1>Country</h1>
<table>
    <tr>
        <th>ISO</th>
        <th>COUNTRY</th>
        <th>CODE</th>
    </tr>
    <tr>
        <td>HK</td>
        <td>Hong Kong</td>
        <td>852</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Indonesia</td>
        <td>62</td>
    </tr>
    <tr>
        <td>MY</td>
        <td>Malaysia</td>
        <td>60</td>
    </tr>
    <tr>
        <td>PH</td>
        <td>Philippines</td>
        <td>63</td>
    </tr>
    <tr>
        <td>TH</td>
        <td>Thailand</td>
        <td>66</td>
    </tr>
    <tr>
        <td>SG </td>
        <td>SINGAPORE</td>
        <td>65</td>
    </tr>
</table>