
@{
    ViewBag.Title = "POTable";
}

<table border="0" CELLSPACING=0 style="width: 1170px; margin: 0 auto; font-family: 'Roboto', sans-serif;">
    <tr>
        <td colspan="3" style="background:#f1f1f1; font-weight:500;font-size: 1.5rem; color: #000; text-align: center; padding: 10px;">
            Weekly Report
        </td>
    </tr>
    <tr>
        <td style="font-weight: 500; font-size: 1.2rem; padding: 5px 0;">Period : From <<StartDate>> to <<EndDate>></td>
    </tr>
    <tr>
        <td style="font-weight: 500; font-size: 1rem; padding: 5px 0;">AIS Manufacturing Pte Ltd.</td>
        <td style="width:130px; display: block; float: right;"></td>
    </tr>

    <tr>
        <td colspan="3">
            <table style="border: 1px solid #000; width: 100%; padding: 10px;">
                <tr>
                    <td style="font-weight: 500; padding: 5px 0;">Name: Robert Low</td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td colspan="3">
            <table style="border: 1px solid #000; width: 100%; padding: 10px;">
                <tr>
                    <td></td>
                    
                    <td style="text-align: right;"> Number of POs</td>
                </tr>
                <tr>
                    <td>Total Number of Purchase Orders has been uploaded in this week: </td>

                    <td style="text-align: right;"> Number <<SuccessfullTransTotalAmount>></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td colspan="3">
            <table style="border: 1px solid #000; width: 100%; padding: 10px;">
                <tr>
                    <td colspan="3">Purchase Order that has been accepted</td>
                    <td></td>
                    <td style="text-align: right;">Number <<NumberOfAccept>></td>
                </tr>

                <tr>
                    <td colspan="3">Purchase Order that has been Decline</td>
                    <td></td>
                    <td style="text-align: right;">Number <<NumberOfDecline>></td>
                </tr>


            </table>
        </td>
    </tr>

</table>



