<h1>About Us</h1>

<p>
    TSH SYNERGY is an ACRA-registered entity that has been operating for 14 years 9 months in Singapore since its incorporation y in 2006. 
    Officially, TSH SYNERGY PTE. LTD. is registered as Private Limited Company with its address in District 14 (Geylang, Eunos), 
    primarily operates in the sector of "MANUFACTURE AND REPAIR OF OTHER GENERAL PURPOSE MACHINERY AND EQUIPMENT EXCEPT ELECTRICAL AND ELECTRONIC N.E.C.", SSIC code - 28199
    TSH SYNERGY PTE. LTD. is a non-listed entity in the private market with no IPO filing
    As of 1 March 2020, the company is not involved in any litigation based on the public records of the Supreme Court of Singapore. 
    This information is provided to the best of our research ability and we make no warranties over any data inaccuracies or omissions.

</p>